<!-- <button class= right-align style="float: right;" mat-button 
    (click)="onHintClick()">&#9876;&#65039;
  </button> -->
  <!-- <div class=gear style="float: right;" (click)="gearClicked()" >&#9881;&#65039;</div> -->
  <button mat-icon-button style="float: right;" [matMenuTriggerFor]="menu" aria-label="Settings">
    <h1><mat-icon>&#9881;&#65039;</mat-icon></h1>
    <!-- <span>&#9881;&#65039;</span> -->
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="gearClicked()" mat-menu-item>
      <mat-icon>&#119663;</mat-icon>
      <span>Number of Ships</span>
    </button>
  </mat-menu>    