.header-dimension {
  border: 1px solid #ddd;
  padding: 8px;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid rgb(104, 240, 86);
}

.right-align {
  text-align: right;
  color: #e42a49;
}

.cell {
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: rgb(215, 240, 221);
  border: none;
}

.ship {
  background-color: rgb(43, 226, 89);
}

.top {
  margin-bottom: -10px;
  height: 35px;
  padding-top: 28px;
}

.bottom {
  margin-top: -9px;
  height: 35px;
  padding-bottom: 28px;
}

.right {
  margin-left: -9px;
  width: 35px;
  padding-right: 28px;
}

.left {
  margin-right: -9px;
  width: 35px;
  padding-left: 28px;
}

.vertical {
  height: 47px;
  margin-bottom: -16px;
  margin-top: -15px;
}

.horizontal {
  width: 47px;
  margin-left: -9px;
  margin-right: -9px;
}

.td-ship {
  background-color: rgb(186, 247, 201);
}

.td-hit {
  background-color: rgb(241, 149, 149);
}

.possible-cell {
  /* border-color:  orange; */
  border: groove;
}

.hit {
  background-color: rgb(226, 43, 43);
}

#board {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
  }
  
  #board td, #board th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #board tr:nth-child(even){background-color: #f2f2f2;}
  
  /* #board td:hover {background-color: #ddd;} */

  .cell-hover:hover {
    background-color: #ddd;
  }

  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }