<!-- <span class="right-align" style="float: right;" [innerText]="shipDetails"> </span> -->
<table id="board">
<tr>
  <th></th>
  <th *ngFor = "let column of xDimension">
    {{column}}
  </th>
</tr>
  <tr *ngFor = "let y of yDimension">
    <th>      
      {{y}}
    </th>
    <td (click)="click(x, y)" *ngFor = "let x of xDimension">        
        <button class="cell" 
          [class.ship]="isShip(x, y)"
          [class.hit]="isHit(x, y)"
          [class.possible-cell]="isNextPossibleCell(x, y)">
          <span [innerText]="value(x, y) | titlecase"></span>
      </button>
    </td> 
  </tr>
</table>
<span class="right-align" style="float: right;" [innerText]="shipDetails"> </span>