<div class="transbox">
  <app-board-header [player]="player" [isSystem]="isSystem"
    style="display: grid;" [ngStyle]="{'width': (isSelf()) ? '70%' : '46%'}" >
  </app-board-header>
</div>
<div class="transbox" [ngClass]="isSelf() ? 'body-blur' : ''">
  <table id="board" style="background-color: #ffffff;">
    <tr [class.tr-self]="isSelf()">
      <th></th>
      <th *ngFor = "let column of xDimension">
        {{column}}
      </th>
    </tr>
    <tr *ngFor = "let y of yDimension" [class.tr-self]="isSelf()">
      <th>
        {{y}}
      </th>
      <td *ngFor = "let x of xDimension"
        [class.td-ship]="isShip(x, y)" 
        [class.td-hit]="isHit(x, y)"
        [class.td-self]="isSelf()"
        [class.cell-hover]="isCellEnabled" 
        (click)="click(x, y)">
        <button class="cell" 
          [class.ship]="isShip(x, y)"
          [class.top]="shipPosition(x, y) == 'top'"
          [class.bottom]="shipPosition(x, y) == 'bottom'"
          [class.right]="shipPosition(x, y) == 'right'"
          [class.left]="shipPosition(x, y) == 'left'"
          [class.top-self]="shipPosition(x, y) == 'top' && isSelf()"
          [class.bottom-self]="shipPosition(x, y) == 'bottom' && isSelf()"
          [class.right-self]="shipPosition(x, y) == 'right' && isSelf()"
          [class.left-self]="shipPosition(x, y) == 'left' && isSelf()"
          [class.vertical]="shipPosition(x, y) == 'vertical'"
          [class.horizontal]="shipPosition(x, y) == 'horizontal'"
          [class.hit]="isHit(x, y)"
          [class.possible-cell]="isNextPossibleCell(x, y)"
          [class.button-self]="isSelf()">
            <span [innerText]="value(x, y) | titlecase | bold"></span>
          </button>
      </td> 
    </tr>
  </table>
  <div class="board-bottom" *ngIf="shipDetails">
    <b><span class="right-align blink_me" [innerText]="shipDetails"> </span></b>
    <button class="undo-button" style="float: right;" 
      [class.blink_me]="shouldUndo" [ngClass] = "isUndoActive ? 'undo-active' : 'undo-inactive'"
      (click)="onUndoClick()">Undo ship selection</button>
  </div>
</div>

<!-- Notification banner -->
<div *ngIf="isStarted && isShipArranging">
  <app-notification-banners [message]="shipDetails"></app-notification-banners>
</div>

<!-- Spinner messsage -->
<app-spinner *ngIf="displaySpinner" [label]="spinnerMessage"></app-spinner>