<br/>
{{data.caption}}
<br/>
<input *ngIf="data.isInputVisisble" autofocus alphaNumeric 
  [ngModel]="data.value" (ngModelChange)="data.value = $event.toUpperCase()"
  (keypress)="keyPress($event)">
<div *ngIf="data.isInputVisisble; else NO_INPUT" >
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" [disabled]="!isButtonEnabled()">
      <span>{{data.button1text}}</span>
    </button>
    <button *ngIf="data.button2text" mat-button (click)="onCancelClicked()">
      <span>{{data.button2text}}</span>
    </button>
  </div>
</div>
<ng-template #NO_INPUT>
  <div mat-dialog-actions>
    <button mat-button (click)="button1Clicked()"><span>{{data.button1text}}</span></button>
    <button mat-button (click)="button2Clicked()"><span>{{data.button2text}}</span></button>
  </div>  
</ng-template>
<!-- <div mat-dialog-actions *ngIf="data.type==='playerSelection'">
  <button mat-button (click)="selectPlayer(1)">Single player</button>
  <button mat-button (click)="selectPlayer(2)">Two player</button>
</div> -->
<br/>
<div *ngIf="data.isInputVisisble">
  <p class="comment">Please enter in the format "XY". Example "2D"</p>
  <!-- <p class="hit">Hint: x (1 to 10) & y (A to J)</p> -->
</div>

