<br/>
{{caption}}
<br/>
<input *ngIf="data.isInputVisisble" autofocus alphaNumeric maxlength="3"
  [ngModel]="data.value" (ngModelChange)="data.value = $event.toUpperCase()"
  (keypress)="keyPress($event)">
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" [disabled]="!isButtonEnabled()">Ok</button>
  <button *ngIf="data.isInputVisisble" mat-button (click)="onNoClick()">Lets take a break</button>
</div>
<br/>
<div *ngIf="data.isInputVisisble">
  <p class="comment">Please enter in the format "XY". Example "2D"</p>
  <p class="hit">Hint: x (1 to 10) & y (A to J)</p>
</div>

