p {      
  text-align: center;
}
.comment {  
  color: #5aca5e;
}

.hit {
  color: navy;
}

button {
  display: inline-block;
  border-radius: 40px;    
  border: none;
  color: #e5f2f5;
  text-align: center;
  font-size: 13px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;    
  margin: 1px;
  background-color: #4597e4;
  cursor: pointer;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}