p {
  font-family: Lato;
}

td, th {
  border: 1px solid #ddd;
  padding: 30px;
}

.right-align {
  text-align:right;  
  background-color: #bdf7bf;
}

.hint {
  text-align:right;  
  background-color: #63f067;  
}