p {
  font-family: Lato;
}

/* td, th {
  border: 1px solid #ddd;
  padding: 30px;
} */

.right-align {
  text-align:right;  
  background-color: #bdf7bf;
  margin-right: 10px;
}

.hint {
  text-align:right;  
  background-color: #63f067;  
}

.buttons {
  border: none;
  padding: 0px;
}

.vl {
  border-left: 6px solid green;
  height: 540px;
  margin: 3px;
}

.body  {
  /* background-image: url("../../images/1578519415415.jpeg"); */
  /* background-image: url("headings.background.url"); */
  /* background-color: #2d94e9; */
  margin: -30px;
}

.board {
  background-color: #ffffff;
  opacity: 1;
}

.level {
  font-weight: bold;
}

.initial-board {
  width: 500px;
  margin: 20px auto;
}

.slick-wrapper{
  width: 500px;
  height: 550px;
  margin: 20px auto;
}

.slick-prev:before, .slick-next:before {
  color: black!important;
}

.tablet {
  align-items: center;
}

.wrapper {
  height: calc(100vh - 20px);
  position: relative;
}