<h2> BalleShip </h2>
<ng-container *ngIf="{
  numberOfShips: numberOfShips$ | async,
  xDimension: xDimension$ | async,
  yDimension: yDimension$ | async,
  myBoard: myBoard$ | async,
  systemBoard: systemBoard$ | async
} as data">
  <table>
    <tr>
      <td>
        <h3> Opponent </h3>
        <app-board [type]="'opponent'" [showShips]=true
          [xDimension]="data?.xDimension" [yDimension]="data?.yDimension" [board]="data?.systemBoard">
        </app-board>
      </td>
      <td>
        <h3> My Team </h3>
        <button *ngIf="canContinue" class= right-align style="float: right;" mat-button 
          (click)="onClick()">Lets continue..
        </button> 
        <app-board [type]="'myteam'" [numberofShips]= "data?.numberOfShips" [showShips]=true
          [xDimension]="data?.xDimension" [yDimension]="data?.yDimension" [board]="data?.myBoard"
          (shipSelected)="allShipSelected($event, data?.myBoard)">
        </app-board>
      </td>
    </tr>
  </table>
</ng-container>