<div class="body" [ngStyle]="bkUrl">

  <div [ngClass]="!isStarted || notificationMessage ? 'body-blur' : ''">
    <ng-container *ngIf="{
      me: me$ | async,
      opponent: opponent$ | async,
      numberOfShips: numberOfShips$ | async,
      xDimension: xDimension$ | async,
      yDimension: yDimension$ | async
    } as data">

      <!-- Heading and menu -->
      <div style="display: flex; width:100%">
        <app-header style="width: 20%;" [headings]="headings"></app-header>
        <app-button-group style="float: right; width: 80%;" [canContinue]="canContinue" [isTabletMode]="isTabletMode"
          [lifes]="data?.me?.lifes" [level]="level" [displayMode]="displayMode" [headings]="headings"
          (onContinueClick)="onContinueClick()" (onModeClick)="onModeClick(!isTabletMode)" (onHintClick)="onHintClick()"
          (onMenuClick)="onMenuClick()">
        </app-button-group>
      </div>

      <!-- Board for Ship arrangemnetnt -->
      <div *ngIf="!isShipArranged" class="board-edit">
        <app-board class="board" [isStarted]="isStarted" [isSystem]="false" [numberofShips]="data?.numberOfShips"
          [showShips]=true [xDimension]="data?.xDimension" [yDimension]="data?.yDimension" [player]="data?.me"
          (allShipSelected)="allShipSelected($event, data?.me?.board)" [isBoardEnabled]="!isShipArranged"
          [isShipArranged]="isShipArranged">
        </app-board>
      </div>

      <!-- Board for Game play -->
      <div *ngIf="isShipArranged" [ngClass]="displayMode == 'web' ? 'board-layout' : 'board-layout_mobile'">
        <div style="width: 70%; text-align: -webkit-center;">
          <app-board class="board" [isStarted]="isStarted" [isSystem]="true" [numberofShips]="data?.numberOfShips"
            [showShips]="canShowShips" [xDimension]="data?.xDimension" [yDimension]="data?.yDimension"
            [player]="data?.opponent" (selectedShip)="selectedShip($event)" [isShipArranged]="isShipArranged"
            [isBoardEnabled]="isTabletMode && isMyTurn && isShipArranged">
          </app-board>
        </div>
        <div *ngIf="displayMode == 'web'">
          <div class="vl"></div>
        </div>
        <div style="width: 30%; text-align: -webkit-center; margin-top: 50px;">
          <app-board class="board" [isStarted]="isStarted" [isSystem]="false" [numberofShips]="data?.numberOfShips"
            [showShips]=true [xDimension]="data?.xDimension" [yDimension]="data?.yDimension" [player]="data?.me"
            (allShipSelected)="allShipSelected($event, data?.me?.board)" [isBoardEnabled]="!isShipArranged"
            [isShipArranged]="isShipArranged">
          </app-board>
        </div>
      </div>

      <!-- <div *ngIf="displayMode == 'web'; else TABLET_MODE">
        <table style="margin-left:auto;margin-right:auto;">
          <tr>
            <td *ngIf="isShipArranged">
              <app-board class="board" [isStarted]="isStarted" [isSystem]="true" [numberofShips]="data?.numberOfShips"
                [showShips]="canShowShips" [xDimension]="data?.xDimension" [yDimension]="data?.yDimension"
                [player]="data?.opponent" (selectedShip)="selectedShip($event)"
                [isBoardEnabled]="isTabletMode && isMyTurn && isShipArranged">
              </app-board>
            </td>
            <td *ngIf="isShipArranged">
              <div class="vl"></div>
            </td>
            <td>
              <app-board class="board" [isStarted]="isStarted" [isSystem]="false" [numberofShips]="data?.numberOfShips"
                [showShips]=true [xDimension]="data?.xDimension" [yDimension]="data?.yDimension" [player]="data?.me"
                (allShipSelected)="allShipSelected($event, data?.me?.board)" [isBoardEnabled]="!isShipArranged">
              </app-board>
            </td>
          </tr>
        </table>
      </div>
      <ng-template #TABLET_MODE>
        <div *ngIf="!isShipArranged" class="initial-board">
          <app-board class="board" [isStarted]="isStarted" [isSystem]="false" [numberofShips]="data?.numberOfShips"
            [showShips]=true [xDimension]="data?.xDimension" [yDimension]="data?.yDimension" [player]="data?.me"
            (allShipSelected)="allShipSelected($event, data?.me?.board)" [isBoardEnabled]="!isShipArranged">
          </app-board>
        </div>
        <div *ngIf="isShipArranged" class="slick-wrapper tablet">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide">
              <div *ngIf="i == 0">
                <app-board class="board" [isStarted]="isStarted" [isSystem]="true" [numberofShips]="data?.numberOfShips"
                  [showShips]="canShowShips" [xDimension]="data?.xDimension" [yDimension]="data?.yDimension"
                  [player]="data?.opponent" (selectedShip)="selectedShip($event)"
                  [isBoardEnabled]="isTabletMode && isMyTurn && isShipArranged">
                </app-board>
              </div>
              <div *ngIf="i == 1">
                <app-board class="board" [isStarted]="isStarted" [isSystem]="false"
                  [numberofShips]="data?.numberOfShips" [showShips]=true [xDimension]="data?.xDimension"
                  [yDimension]="data?.yDimension" [player]="data?.me"
                  (allShipSelected)="allShipSelected($event, data?.me?.board)" [isBoardEnabled]="!isShipArranged">
                </app-board>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </ng-template> -->
    </ng-container>
  </div>

  <app-footer></app-footer>
  <app-spinner *ngIf="displaySpinner" [label]="spinnerMessage"></app-spinner>

  <app-game-selection *ngIf="!isStarted" class="center-screen-notification" [user_cookie]="user_cookie"
    (isStartedChange)="isStartedChangeed($event)">
  </app-game-selection>

  <!-- Notification banner -->
  <div *ngIf="notificationMessage">
    <app-notification-banners [message]="notificationMessage" [code]="notificationCode" [showInput]="showInput"
      [btn1Text]="btn1Text" [btn2Text]="btn2Text" [options]="notificationOptions"
      (onNotificationBtnClick)="onNotificationBtnClicked($event)">
    </app-notification-banners>
  </div>

  <!-- Settings -->
  <div *ngIf="showMenu">
    <app-settings (onClick)="gearClicked($event)"></app-settings>
  </div>
</div>