<div class="body" [ngStyle]="bkUrl">

  <div [ngClass]="!isStarted ? 'body-blur' : ''">
    <ng-container *ngIf="{
      me: me$ | async,
      opponent: opponent$ | async,
      numberOfShips: numberOfShips$ | async,
      xDimension: xDimension$ | async,
      yDimension: yDimension$ | async
    } as data">
      <div>
        <app-header [headings]="headings" [level]="level" (onClick)="gearClicked($event)"></app-header>
        <app-button-group [canContinue]="canContinue" [isTabletMode]="isTabletMode" [lifes]="data?.me?.lifes"
          (onContinueClick)="onContinueClick()" (onModeClick)="onModeClick()" (onHintClick)="onHintClick()">
        </app-button-group>
      </div>
      <br />
      <div *ngIf="displayMode == 'web'; else TABLET_MODE">
        <table style="margin-left:auto;margin-right:auto;">
          <tr>
            <td *ngIf="isShipArranged">
              <app-board class="board" [isStarted]="isStarted" [isSystem]="true" [numberofShips]="data?.numberOfShips"
                [showShips]="canShowShips" [xDimension]="data?.xDimension" [yDimension]="data?.yDimension"
                [player]="data?.opponent" (selectedShip)="selectedShip($event)"
                [isBoardEnabled]="isTabletMode && isMyTurn && isShipArranged">
              </app-board>
            </td>
            <td *ngIf="isShipArranged">
              <div class="vl"></div>
            </td>
            <td>
              <app-board class="board" [isStarted]="isStarted" [isSystem]="false" [numberofShips]="data?.numberOfShips"
                [showShips]=true [xDimension]="data?.xDimension" [yDimension]="data?.yDimension" [player]="data?.me"
                (allShipSelected)="allShipSelected($event, data?.me?.board)" [isBoardEnabled]="!isShipArranged">
              </app-board>
            </td>
          </tr>
        </table>
      </div>
      <ng-template #TABLET_MODE>
        <div *ngIf="!isShipArranged" class="initial-board">
          <app-board class="board" [isStarted]="isStarted" [isSystem]="false" [numberofShips]="data?.numberOfShips"
            [showShips]=true [xDimension]="data?.xDimension" [yDimension]="data?.yDimension" [player]="data?.me"
            (allShipSelected)="allShipSelected($event, data?.me?.board)" [isBoardEnabled]="!isShipArranged">
          </app-board>
        </div>
        <div *ngIf="isShipArranged" class="slick-wrapper tablet">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide">
              <div *ngIf="i == 0">
                <app-board class="board" [isStarted]="isStarted" [isSystem]="true" [numberofShips]="data?.numberOfShips"
                  [showShips]="canShowShips" [xDimension]="data?.xDimension" [yDimension]="data?.yDimension"
                  [player]="data?.opponent" (selectedShip)="selectedShip($event)"
                  [isBoardEnabled]="isTabletMode && isMyTurn && isShipArranged">
                </app-board>
              </div>
              <div *ngIf="i == 1">
                <app-board class="board" [isStarted]="isStarted" [isSystem]="false"
                  [numberofShips]="data?.numberOfShips" [showShips]=true [xDimension]="data?.xDimension"
                  [yDimension]="data?.yDimension" [player]="data?.me"
                  (allShipSelected)="allShipSelected($event, data?.me?.board)" [isBoardEnabled]="!isShipArranged">
                </app-board>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </ng-template>
    </ng-container>
  </div>

  <app-footer></app-footer>
  <app-spinner *ngIf="displaySpinner" [label]="spinnerMessage"></app-spinner>

  <app-game-selection *ngIf="!isStarted" class="center-screen-notification" [user_cookie]="user_cookie"
    (isStartedChange)="isStarted=$event">
  </app-game-selection>
</div>