<div class="right-align">
    <span class="level">Level: {{level}}</span>
    <button *ngIf="canContinue &&lifes && lifes > 0" mat-button (click)="onHintClick.emit()">Hint*
    </button>
    <button *ngIf="canContinue && !isTabletMode" mat-button (click)="onContinueClick.emit()">Lets continue...
    </button>
    <button mat-button (click)="onModeClick.emit()" *ngIf="canContinue && displayMode == 'web'">
        <span>
            {{isTabletMode ? 'Change to classic mode !' : 'Change to tablet mode !'}} </span>
    </button>
    <button mat-button (click)="onMenuClick.emit()">
        <img [src]="url" style="width: 30px; height: 30px;">
    </button>
</div>