.right-align {
  text-align: right;
  /* background-color: #bdf7bf; */
  /* margin-right: 10px; */
  /* top: -30px; */
  position: relative;
  padding: 24px;

  button {
    text-align: right;
    background-color: #63f067;
    margin: 0 5px 0 5px;
  }
}

.level {
  font-weight: bold;
  margin-right: 10px;
}