<div class="right-align" *ngIf="canContinue">
    <span class="level">Level: {{level}}</span>
    <button *ngIf="lifes && lifes > 0" mat-button (click)="onHintClick.emit()">Hint*
    </button>
    <button *ngIf="!isTabletMode" mat-button (click)="onContinueClick.emit()">Lets continue...
    </button>
    <button mat-button (click)="onModeClick.emit()"><span>
            {{isTabletMode ? 'Change to classic mode !' : 'Change to tablet mode !'}} </span>
    </button>
    <button mat-button (click)="onMenuClick.emit()">
        <img src="assets/images/hamburger-menu-icon.jpg" style="width: 30px; height: 30px;">
    </button>
</div>